# dependencies
node_modules
/.pnp
.pnp.js

# output
.next
/out
/build
dist
*.tgz

# testing
/coverage
*.lcov

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv environment variable files
.env
.env*.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# typescript
next-env.d.ts

# vercel
.vercel

# misc
*.pem

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Playwright MCP artifacts
.playwright-mcp
